nav ul{
    font-weight: 500;
    padding-right: 20px;
    font-size: medium;  
    
     
    
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}
.latest h4{ 
    padding: 8px 15px;
    
    border-left: 5px solid black;
    border-right: 0.5px solid #f0f1f2;
    border-top: 0.5px solid #f0f1f2;
    border-bottom: 0.5px solid #f0f1f2;
   
}
.latest a{
    color: black;
}
.collapse a:hover{
    background-color: #269ff0;
    border-radius: 25px;

   
}
.heading,.heading1,.heading2
{
    padding: 8px 15px;
    margin-top: 20px;
    border-left: 8px solid red;
    border-right: 0.5px solid #f0f1f2;
    border-top: 0.5px solid #f0f1f2;
    border-bottom: 0.5px solid #f0f1f2;
 
}
.heading1{
    border-left: 8px solid #00a32c;
}
.heading2{
    border-left: 8px solid blue;
}

footer a{
    color: white;
}
 a{
    color: black; 
}
 a:hover{
    color:  rgb(8, 35, 187);
    text-decoration:none;

}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
  }
/* schedule */
#sch{
    line-height: 10px;
}
#sch .list-group-item{
    padding-bottom: 0px;
}
#sch li:nth-child(odd) 
{
     background: #f8f9fa; 
}
@media (min-width: 768px) {
    .col-md-6 .card-img-top {
        height: 30vh;
        width: 100%;
        object-fit: cover;
    }
  }
  @media (min-width: 768px) {
    .col-md-6 .card-body {
        /* height: 45vh; */
        width: 100%;
        
    }
  }